@import '../../styles/responsive';

.home {
  padding-top: 30px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    justify-content: space-between;
    column-gap: 16px;
    @include responsive(xl) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}

.paymentCart {
  background-color: var(--cart-background);
  align-self: flex-start;
  padding: 16px;
  border-radius: 8px;
  // header - start
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
  }
  &__statusWrapper {
    display: flex;
    align-items: center;
  }
  &__statusIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &__status {
  }
  &__highlightedWrapper {
    display: flex;
    align-items: center;
    background-color: var(--link-background);
    padding: 5px 10px;
    border-radius: 5px;
  }
  &__highlightedText {
    margin-right: 10px;
    font-size: 14px;
    color: var(--body-text-color2);
  }
  &__highlightedLink {
    font-weight: 500;
    font-size: 14px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: var(--body-text-color2);
  }
  // header - end

  // main - start
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__mainHeader {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  &__title {
    font-size: 20px;
  }
  &__price {
    font-size: 18px;
    font-weight: 350;
  }
  &__message {
    margin-bottom: 20px;
  }
  // main - end

  // footer - start
  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__reportLink {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 6px 10px;
    text-transform: uppercase;
    // transition-property: color, background-color, border-color,
    //   text-decoration-color, fill, stroke;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // transition-duration: 75ms;
    background: var(--report-link-background);
    color: var(--report-link-text-color);
  }
  &__share {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
  }
  &__shareText {
    font-size: 16px;
    line-height: 1;
  }
  &__shareIcon {
    fill: rgb(247, 108, 27);
    display: flex;
  }
  // footer - end
}

.rightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pay {
  background-color: var(--cart-background);
  flex: 1 0 auto;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__headerTextWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__headerText {
  }
  &__headerIcon {
  }

  &__disconnectWalletButton {
    button {
      cursor: pointer;
      display: inline-flex;
      line-height: 1;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 0.5rem;
      height: auto;
      padding: 5px 10px;
      font-weight: 400;
      text-transform: capitalize;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 75ms;
      background: #706e6e9c !important;
      color: rgb(255, 255, 255) !important;
      fill: rgb(255, 255, 255) !important;
    }
  }

  &__body {
  }
  &__totalPrice {
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 10px;
    background: var(--total-price-background);
    color: var(--total-price-text-color);
    gap: 10px;
    margin-bottom: 10px;
  }
  &__totalPriceText {
  }
  &__totalPriceCount {
    font-weight: 500;
  }

  &__connectWalletButton {
    button {
      cursor: pointer;
      width: 100%;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 0.5rem;
      // padding: 0.75rem 2rem;
      font-weight: 600;
      text-transform: uppercase;
      transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 75ms;
      box-shadow: rgba(#fb8900, 0.6) 0px 10px 15px -3px,
        rgba(#fb8900, 0.6) 0px 4px 6px -4px !important;
      background: #fb8900 !important;
      color: rgb(255, 255, 255) !important;
      fill: rgb(255, 255, 255) !important;
    }
    margin-bottom: 20px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__withQR {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__withQRText {
  }
  &__withQRIcon {
    width: 20px;
    height: 20px;
  }
}

.payDescription {
  font-size: 12px;
  padding: 5px 7px;
  color: var(--description-text-color);
  background-color: var(--description-text-background);
  border-radius: 8px;
  &__b {
  }
  &__link {
    color: var(--see-term-color);
  }
}
